* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root {
    --color-main: #0098EA;
    --color-white: #F7F9FB;
    --color-black: #1E2337;
}

body {
    background-color: var(--color-white);
}

svg {
    height: 24px;
    width: 24px;
}

a {
    text-decoration: none;
}

.container {
    padding: 1.5rem 0;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-container p {
    font-size: 24px;
    margin-left: 1rem;
    color: var(--color-main);
}

.main-container {
    padding: 3rem;
    text-align: justify;
}

.social {
    margin-bottom: 2rem;
}
.social a,
.sl-content {
    margin-right: 1rem;
}
.social-last {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.intro h2 {
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--color-main);
}
.intro p {
    margin-bottom: 2rem;
}

.about {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about h2,
.future-plans h2 {
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--color-main);
}

.buy-button {
    background: var(--color-main);
    text-align: center;
    border-radius: 50px;
}
.buy-button a {
    color: var(--color-white);
    font-weight: 600;
}
.firstbtn {
    margin-top: 5rem;
}
button {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 0;
}

.buy-container {
    background-color: var(--color-black);
    padding: 3rem;
}
.buy-container h2 {
    color: var(--color-white);
    font-style: italic;
    margin-bottom: 1rem;
}
.buy-container ol {
    color: var(--color-white);
    text-align: justify;
}
.buy-container ol li {
    margin-bottom: 1rem;
}

.buy-container ol li a{
    color: var(--color-main);
}
.puppyton-com {
    margin-top: 3rem;
}

footer {
    margin-top: 2rem;
    padding: 0 3rem;
}
footer p {
    font-size: 12px;
    text-align: justify;
    color: var(--color-main);
}

@media (min-width: 960px) {
    footer,
    .nav-container,
    .buy-container,
    .main-container {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}